{% extends 'base.html'%} 
{%load static%}
{% block content%}



		<div class="slider">
						<ul class="slides">
							<li>
								 <img src="http://met.live.mediaspanonline.com/assets/31069/example-608web_w608.jpg"> <!-- random image -->
								 <div class="caption left-align">
								   <h2 class="white-text  "></h2>
								   <h5 class="white-text  "></h5>
								 </div>
							 </li>
							 <li>
								 <img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/p/7/000/2ad/1f4/007d8c5.jpg"> <!-- random image -->
								 <div class="caption center-align">
								   <h2 class="white-text"></h2>
								   <h5 class="white-text"></h5>
							 </li>
							 <li>
								 <img src="http://informatica.desecundaria.com/informatica/images_informatica/aula%20informatica.png"> <!-- random image -->
								 <div class="caption right-align">
								   <h2 class="white-text "></h2>
								   <h5 class="white-text "></h5>
								 </div>
							 </li>
	        			</ul>		
        </div>


        <div class="section">		
        	<div class="row">
			 	

        			 <div class="col s6 m6 l3"><!--Card ivan-->
			 			<div style="overflow: hidden;" class="card">
			 				<div class="card-image waves-effect waves-block waves-light">
					                <img class="activator" src="media/logo_example.jpg">
					        </div>
					        <div class="card-content">
					                <span class="card-title activator grey-text text-darken-4">Servicios Escolares<i class="material-icons right">more_vert</i></span>
					        </div>
					        <div style="display: none; transform: translateY(0px);" class="card-reveal">
					                <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
					                <p class="purple-text text-darken-2 "></p>
 									<p class="purple-text text-darken-2 ">/p>
					                <p class="purple-text text-darken-2 "></p>
					        </div>	
					        <div class="card-action">
					        		<a class="waves-effect waves-light btn center">más información</a>
					        </div>
			 			</div>
			 		</div>

			 		 	<div class="col s6 m6 l3"><!--Card ivan-->
			 			<div style="overflow: hidden;" class="card">
			 				<div class="card-image waves-effect waves-block waves-light">
					                <img class="activator" src="media/logo_example.jpg">
					        </div>
					        <div class="card-content">
					                <span class="card-title activator grey-text text-darken-4">Comunicación Social<i class="material-icons right">more_vert</i></span>

					        </div>
					        <div style="display: none; transform: translateY(0px);" class="card-reveal">
					                <span class="card-title grey-text text-darken-4">Colegio Vasconcelos<i class="material-icons right">close</i></span>
					                <p class="purple-text text-darken-2 "></p>
 									<p class="purple-text text-darken-2 "></p>
					                <p class="purple-text text-darken-2 "></p>
					        </div>	
					        <div class="card-action">
					        		<a class="waves-effect waves-light btn center">más información</a>
					        </div>
			 			</div>
			 		</div>
			 		 	<div class="col s6 m6 l3"><!--Card ivan-->
			 			<div style="overflow: hidden;" class="card">
			 				<div class="card-image waves-effect waves-block waves-light">
					                <img class="activator" src="media/logo_example.jpg">
					        </div>
					        <div class="card-content">
					                <span class="card-title activator grey-text text-darken-4">Oferta Educativa<i class="material-icons right">more_vert</i></span>
					        </div>
					        <div style="display: none; transform: translateY(0px);" class="card-reveal">
					                <span class="card-title grey-text text-darken-4">Oferta Educativa<i class="material-icons right">close</i></span>
					                <p class="purple-text text-darken-2 ">Primaria</p>
 									<p class="purple-text text-darken-2 ">Secundaria</p>
					                <p class="purple-text text-darken-2 ">Preparatoria</p>
					        </div>	
					        <div class="card-action">
					        		<a class="waves-effect waves-light btn center">más información</a>
					        </div>
			 			</div>
			 		</div>

			 	 	<div class="col s6 m6 l3"><!--Card ivan-->
			 			<div style="overflow: hidden;" class="card">
			 				<div class="card-image waves-effect waves-block waves-light">
					                <img class="activator" src="media/logo_example.jpg">
					        </div>
					        <div class="card-content">
					                <span class="card-title activator grey-text text-darken-4">Blog<i class="material-icons right">more_vert</i></span>
					        </div>
					        <div style="display: none; transform: translateY(0px);" class="card-reveal">
					                <span class="card-title grey-text text-darken-4">Blog<i class="material-icons right">close</i></span>
					                <p class="purple-text text-darken-2 "></p>
 									<p class="purple-text text-darken-2 "></p>
					                <p class="purple-text text-darken-2 "></p>
					        </div>	
					        <div class="card-action">
					        		<a class="waves-effect waves-light btn center">más información</a>
					        </div>
			 			</div>
			 		</div>
			 </div>
		</div>
			

		<section id="contact">
			<div class="row">

				<div class="col s6 m6 l6">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3752.057016725909!2d-98.82150374892741!3d19.87981418656626!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85cddf810a7c6f4f%3A0xf35ee172bb9518f!2sPresidencia+Municipal+de+Villa+de+Tezontepec+Hidalgo!5e0!3m2!1ses!2smx!4v1474931061520" width="900" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
				</div>	
				
				<div class="col s6 m6 l6 datos">
						<div class="input-field col s6 m6">
					          <i class="material-icons prefix">account_circle</i>
					          <input id="icon_prefix" type="text" class="validate">
					          <label for="icon_prefix">Nombre Completo</label>
        				</div>
        				<div class="input-field col s6 m6 l6">
					          <i class="material-icons prefix">phone</i>
					          <input id="icon_prefix" type="tel" class="validate">
					          <label for="icon_prefix">Telefono</label>
        				</div>
        				<div class="input-field col s6 m6 l6">
					          <i class="material-icons prefix">email</i>
					          <input id="icon_prefix" type="email" class="validate">
					          <label for="icon_prefix">Correo Electrónico</label>
        				</div>
        				
						<div class="input-field col s12 m12 l12">
							  <i class="material-icons prefix">mode_edit</i>
							  <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
							  <label for="icon_prefix2">Mensaje</label>
						</div>
							
						<div class="btn_enviar">
							<a class="waves-effect waves-light btn ">Enviar</a>
						</div>
				</div>	
			</div>
		</section>
{%endblock content%}

{%block scripts%}
<script>
		$(document).ready(function(){
    		$('.slider').slider({full_width: true,indicators:true});
		});
</script>
{%endblock scripts%} 